<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Electrical Contractor San Bernardino CA - Residential Electrical service - Commercial Electrical Services</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="js/init.js"></script>
		<script src="/js/myApp.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body ng-app="myApp" ng-controller="mainCtrl" class="homepage">
			<div class="wrapper style1">
				<div id="header">
					<div class="container">
						<h1><a href="#" id="logo"><%= number %></a></h1>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Home</a></li>
							    <li class="active"><phone><%= number %></phone></li>
							</ul>
						</nav>
	
					</div>
				</div>
				
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2><phone><%= number %></phone></h2>
						<span>Electrical Contractor in San Bernardino, CA</span>
						<p>Appliances, Dedicated Circuits, Attic Fans, Breakers and Fuses, Ceiling Fans, Electrical Car Charging Station, Electrical Outlets, Electrical Panels, Generators, GFCI Outlets, Grounding and Bonding. Do you have a Laundry Machine Set That needs its Own Electrical Outlet? We Can Help You! Call Now Or Fill out the Form! Our Electrical Services is the Number One Choice in San Bernardino, CA </p>
						<br> 
						<form class="form-group col-md-6" ng-submit="getInfo()">	
							<label>Electrician San Bernardino, CA <br>
								Request a Quote Here, Easy And Fast! or Simply Call Us.
							</label>
							<p class="alert alert-warning" ng-show="alert">{{ alert.message }}</p>
							<input ng-model="email" placeholder="Email" class="form-control" />
							<br>
							<input ng-model="name" placeholder="Name" class="form-control" />
							<br>
							<input ng-model="phone" placeholder="Phone Number" class="form-control" />
							<br>
							<input ng-model="message" placeholder="Message" class="form-control" />
							<br>
							<button class="button" type="submit">Request Quote!</button>
						</form>
						<img class="col-md-6" src="/images/elec4.jpg">
					</section>
				</div>

			</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<section class="first">
					<div class="row double">
						<div class="col-md-6">
							<h3>Large Appliance Installations in San Bernardino, California</h3>
							<p>If you have a large appliance that needs to be installed, Our Service Has You Covered. The National Electrical Code states that large appliances that need to be installed have to have their own outlet without any other circuit connection in the same outlet. This is called a dedicated circuit which is a circuit uniquely for one large appliance.</p>
							<phone class="button">Call Now: <%= number %></phone>
						</div>
						<div class="col-md-6">
							<header class="major">
							 <img src="/images/elec1.jpg">
							</header>
						</div>
					</div>
				</section>
			</div>

		<!-- Section Two -->
			<div class="wrapper style3">
				<section class="container">
					<div class="col-md-6">
						<header class="major">
							<h2>Electrician in San Bernardino California</h2>
						</header>
						<p>Many of these large appliances consume plenty of electricity and need to be professionally installed. If you have the following feel free to contact us for installations at an affordable price:</p>
						<div class="row">
							<ul class="list col-md-5">
								<li>refridgerators</li>
								<li>garbage disposals</li>
								<li>dishwashers</li>
								<li>freezers</li>
								<li>furnaces</li>
								<li>electric range</li>
								<li>electric water heaters</li>
								<li>dryers</li>
							</ul>
							<phone class="button alt col-md-5"><%= number %></phone>
						</div>
					</div>
					<div class="col-md-6">						
						<img src="/images/elec2.jpg">
					</div>
				</section>
			</div>

		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Electric Contractor Services</h2>
						<span class="byline">Hire an Electrician</span>
						<p>Many of our clients understand that appliances plugged into the same outlet have blown the fuse. We specialize in circuit connections that are individualized outlets and can withstand high electrical current.</p>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Clothes Dryer Circuit Connection</h3>
									<p>We work to satisfy our customers with high quality appliance installations in San Bernardino, California</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Ceiling Fan Repair or Installation</h3>
									<p>Need a ceiling fan installed for your new house or apartment? We got you covered in San Bernardino, CA.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Electric Generators</h3>
									<p>In need of more power for your home? look no further!<br>
									<phone><%= number %></phone></p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Attic Fans maintenance</h3>
									<p>Are you in the process of remodeling your house? We recommend installing Attic Fans. Not only does it cool down your attic but it also allows you to be energy efficient which lowers your electrical bills! Call now to get a quote on your attic's fan installation in San Bernardino, CA.<br> <phone><%= number %></phone></p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Landscape lighting installation</h3>
									<p>If you want to lighten up the night with a gorgeous view of your lawn, we can help you with all the wiring involved in San Bernardino, California!</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Electrical Outlets installation</h3>
									<p>Many of us have families and quite a few electronics that need to be charged -sometimes at the same time, but there are only two wall outlets and everyone needs to charge their phone. That's where we come in. Electrical Outlets can be tricky to install but can be very dangerous if you dont know what your doing. That's why you need to call us here in San Bernardino, California and schedule an appointment for a quote on your apartment or house!</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons"> 
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Breakers and fuses repair</h3>
									<p>Did your power go off because of some short-circuit? Need it restored quickly? We can provide you with emergency services 24/7 on occasions like these! </p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Meter Bases Wiring</h3>
									<p>We can install Meter Bases. Give us a call to request a quote. Fast and Clean Installation!</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Smoke Detector Repair</h3>
									<p>We all need to be prepared for the next accident, prevent an electrical fire by installing a Smoke detector. It can save your life. Call us now! <br> <phone><%= number %></phone></p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
			<div class="wrapper style3">
				<section class="container">
					<div class="col-md-6">
						<header class="major">
							<h2>Electrical Contractor in San Bernardino, CA</h2>
						</header>
						<p>Are you a general contractor looking to start a new project? The sooner you can get a electrician like us, the faster we can determine electric connections that may be a problem later in the project. We abide by the code regulations to ensure a safe and reliable installation. Using the latest tehcniques in the electrical industry, we can complete the job clean and efficient! Making the right steps at the beginning of a large scale project can save you lots of time and money. Don't complicate a project, call us before its too late, we are the best in San Bernardino California<br><phone class="button alt"><%= number %></phone></p>
					</div>
					<div class="col-md-6">						
						<img src="/images/elec3.jpg">
					</div>
				</section>
			</div>

			<div class="wrapper style2">
				<section class="first">
					<div class="row double">
						<div class="col-md-6">
							<h3>Large Appliance Installations in San Bernardino, California</h3>
							<p>If you have a large appliance that needs to be installed, Our Service Has You Covered. The National Electrical Code states that large appliances that need to be installed have to have their own outlet without any other circuit connection in the same outlet. This is called a dedicated circuit which is a circuit uniquely for one large appliance.</p>
							<phone class="button">Call Now: <%= number %></phone>
						</div>
						<div class="col-md-6">
							<header class="major">
							 <img src="/images/elec4.jpg">
							</header>
						</div>
					</div>
				</section>
			</div>

			<div class="wrapper style3">
				<section class="container">
					<div class="col-md-6">
						<header class="major">
							<h2>Electrical Testing in San Bernardino, CA</h2>
						</header>
						<p>We are skilled electricians ready to install the next warehouse lighting systems, emergency power generators, etc. We provide the best prices for electrical maintance and testing. We are also quick to reply incase of a electrical emergency. If you ever need a quick repair on any electrical connection get in touch with us. We ensure that our clients' business electrical systems abide by the electrical utility safety codes. We offer commercial and warehouse facilities electrical services. <br>CALL Today <phone class="button alt"><%= number %></phone></p>
					</div>
					<div class="col-md-6">						
						<img src="/images/elec5.jpg">
					</div>
				</section>
			</div>
			<div class="wrapper style2">
				<section class="first">
					<div class="row double">
						<div class="col-md-6">
							<h3>Residential electrical services San Bernardino, CA</h3>
							<p>We are reliable and responsible, to ensure your house's electricity doesn't go out during one of your parties. Once we service your electrical wiring in your home, We can rest assure you a peace of mind. We can also upgrade your home electric wiring so you are able to cut off some money from your electric bill.</p>
							<phone class="button">Call Now: <%= number %></phone>
						</div>
						<div class="col-md-6">
							<header class="major">
							 <img src="/images/elec6.jpg">
							</header>
						</div>
					</div>
				</section>
			</div>
			<div class="wrapper style3">
				<section class="container">
					<div class="col-md-6">
						<header class="major">
							<h2>Electrical lighting installation in San Bernardino, CA</h2>
						</header>
						<p>We can upgrade your lighting systems into a more efficient and modern wiring. We use modern LEDs to ensure a bright sorrounding. Our high quality installations bring you an ease of mind knowing the installation was done carefully and clean. Working with LEDs is better than the old systems because they can last 40 times more than incandescent bulbs. Using this approach, your electrical lighting system becomes more energy efficient cutting down your monthly electrical bill!<br><phone class="button alt"> call <%= number %></phone></p>
					</div>
					<div class="col-md-6">						
						<img src="/images/elec7.jpg">
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Call Us Today</h2>
					<span style="cursor: pointer;" class="byline"><phone><%= number %></phone></span>
				</header>
				<!-- <ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul> -->
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					&copy; Electrical Contractor 2016
				</div>			
		</div>

	</body>
</html>